<!DOCTYPE html>
<html>
<head>
    <title>Pomodoro Timer</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Pomodoro Timer</h1>
        <div class="timer">
            <span id="minutes">25</span>:<span id="seconds">00</span>
        </div>
        <button id="start">Start</button>
        <button id="reset">Reset</button>
        <a href="/" class="btn">Back to Planner</a>
    </div>
    <script src="/js/pomodoro.js"></script>
</body>
</html>
